attrs==23.1.0
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.0
fonttools==4.43.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
matplotlib==3.8.0
networkx==3.1
numpy==1.26.0
packaging==23.1
pandas==2.1.1
pillow==11.3.0
protobuf==6.31.1
pyparsing==3.1.1
pyproject-toml==0.0.10
python-dateutil==2.8.2
pytz==2023.3.post1
referencing==0.30.2
rpds-py==0.10.3
scipy==1.11.3
seaborn==0.11.2
six==1.16.0
statannotations==0.5.0
toml==0.10.2
tzdata==2023.3
